<div class="modal" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">API ENDPOINTS</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center justify-content-center py-4">
                    <div class="col-md-6 text-center">
                        <p>localhost base url </P>
                        <p class="mb-0"><a href="https://kilimosauti-backend-1.onrender.com/" target="_blank">https://kilimosauti-backend-1.onrender.com/</a></p>
                        <p>Registration </P>
                        <p class="mb-0"><a href="https://kilimosauti-backend-1.onrender.com/register/" target="_blank"> https://kilimosauti-backend-1.onrender.com/register//</a></p>
                        <p>Login </P>
                        <p class="mb-0"><a href="https://kilimosauti-backend-1.onrender.com/login/" target="_blank"> https://kilimosauti-backend-1.onrender.com/login/</a></p>
                        <p>Logout</P>
                        <p class="mb-0"><a href="https://kilimosauti-backend-1.onrender.com/logout/" target="_blank"> https://kilimosauti-backend-1.onrender.com/logout/</a></p>
                        <p>Token </P>
                        <p class="mb-0"><a href="https://kilimosauti-backend-1.onrender.com/test_token/" target="_blank"> https://kilimosauti-backend-1.onrender.com/test_token/</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>